@font-face 
{
    font-family: "Times New Roman";
    src: url("/assets/fonts/times.ttf");
}

@font-face {
    font-family: "Comic Sans MS";
    src: url("/assets/fonts/comic.ttf");
}

html,
body 
{
    margin: 0;

    font-family: "Times New Roman";

    scrollbar-width: none;

    background: #ffffff;
    color: #ffffff;
}
body::-webkit-scrollbar
{
    width: 0;
}

#body-container
{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;

    background-image: url("/assets/img/main-bg.gif");
}

@keyframes marquee 
{
    0% { transform: translate(100vw, 0); -webkit-transform: translate(100vw, 0); }
    100% { transform: translate(-100%, 0); -webkit-transform: translate(-100%, 0); }
}

.looping-title-container
{
    position: relative;

    width: fit-content;

    overflow: hidden;
}

.looping-title-wrapper
{
    white-space: nowrap;
    box-sizing: border-box;

    transform: translate(100vw, 0);
    -webkit-transform: translate(100vw, 0);

    -webkit-animation: marquee 40s linear infinite;
    animation: marquee 40s linear infinite;
}

.looping-title-wrapper span 
{
    display: inline-block;

    padding-left: 15px;
}

.looping-title-wrapper img 
{
    width: 16rem;
    height: 4rem;

    object-fit: contain;

    image-rendering: pixelated;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#title-logo
{
    text-decoration: none;
}
#title-logo:hover
{
    filter: invert(75%);
}
#title-logo:active 
{
    filter: invert(100%) brightness(50%);
}

header 
{
    position: relative;
    top: 0;

    width: 100%;
    height: max-content;
}

#header-wrapper
{
    width: 100%;
    height: fit-content;

    overflow: hidden;

    margin: auto;
    padding: auto;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;

    border-bottom: solid #FAFA33;

    background-image: url("/assets/img/header-bg.gif");
}

#nav-container
{
    position: relative;
    top: 0;

    width: 100%;
    height: max-content;
}

#nav-wrapper
{
    width: 100%;
    height: fit-content;

    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;

    border-bottom: solid #FAFA33;

    background-image: url("/assets/img/pinkblock-bg.gif");
}
#nav-wrapper.pink 
{
    background-image: url("/assets/img/pinkblock-bg.gif");
}
#nav-wrapper.blue
{
    background-image: url("/assets/img/blueblock-bg.gif");
}

#nav-wrapper ul
{
    display: block;

    width: 50%;

    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

#nav-wrapper li
{
    display: inline;

    margin: 0;
    padding: 0;
    padding-right: 2rem;
}

#nav-wrapper a
{
    font-family: "Comic Sans MS";
    
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
#nav-wrapper a:hover
{
    color: #0FFF50;
    text-shadow: 1px 1px #FAFA33;
    mix-blend-mode: normal;
}
#nav-wrapper a:active {
    color: #0000ff;
    text-shadow: 1px 1px #0FFF50;
    mix-blend-mode: normal;
}

#nav-wrapper .current {
    color: #0000ff;
    text-shadow: 1px 1px #0FFF50;
    mix-blend-mode: normal;
}

footer 
{
    position: sticky;
    padding: 0;
    margin: 0;
    margin-top: auto;

    bottom: 0;

    width: 100%;
    height: fit-content;
}

#footer-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    box-sizing: border-box;

    margin: auto;
    padding: auto;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;

    border-top: solid #FAFA33;
    font-family: "Comic Sans MS";

    background-image: url("/assets/img/matrix-bg.gif");

    color: #ffffff;
    text-shadow: 1px 1px #000000;
}

#footer-wrapper img
{
    height: 2.5rem;
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    object-fit: scale-down;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#page-container 
{
    position: relative;

    width: 100%;
    height: max-content;

    overflow-y: auto !important;

    box-sizing: border-box !important;
}

#content-wrapper 
{
    margin: auto;
    padding: 2rem;

    color: #FAFA33;
    text-shadow: 1px 1px #0FFF50;
}

#content-wrapper a
{
    font-family: "Comic Sans MS";
    
    color: rgba(0, 255, 255, 1);
    text-shadow: 1px 1px #0FFF50;
    text-decoration: underline;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
#content-wrapper a:hover
{
    color: #0FFF50;
    text-shadow: 1px 1px #FAFA33;
    mix-blend-mode: normal;
}
#content-wrapper a:active {
    color: #0000ff;
    text-shadow: 1px 1px #0FFF50;
    mix-blend-mode: normal;
}

#content-wrapper img {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#content-wrapper hr {
    height: 4px;
    border-width: 0;
    background-color: #FAFA33;
}

.column
{
    width: 48%;
    height: max-content;
    padding: 1%;

    float: left;
}

.column p
{
    padding: 0.5rem;

    text-align: justify;
}

#panel
{
    display: block;
    float: center;

    white-space: normal !important;

    width: 50%;
    height: 100%;

    padding: inherit;
    margin: 0;

    background-color: #853333ee;
    box-shadow: inset 4px -4px 2px #4e2d2d80, inset -4px 4px 4px #ffe4e480;
    border: 4px solid #35000080;
}

.column #panel
{
	width: 100%;
}

#inner-panel
{
    padding: 0.5em;
    margin: 1em;

    background-color: #68242480;
    box-shadow: inset -4px 4px 2px #4e2d2d80, inset 2px -2px 4px #ffe4e480;
    border: 2px solid #35000080;
}

#panel p
{
    padding: 0;
    margin: 0.5em;

    color: #fff;
    text-shadow: 1px 1px #000;
    text-align: center;
    text-wrap: pretty !important;
}

#panel a
{
    color: #ff0;
    text-shadow: 1px 1px #000;
    text-align: center;
    text-wrap: wrap !important;
    word-break: break-all !important;
}
#panel a:hover
{
    color: #0f0;
}
#panel a:active
{
    color: #0ff;
    text-shadow: 1px 1px #00f;
}

.row
{
    height: 100%;
}
.row::after
{
    display: table;
    content: "";
    clear: both;
}

.center
{
    position: sticky;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

#music-button-wrapper
{
    position: sticky;
    margin-left: 2rem;
    margin-right: auto;
    left: 0;

    z-index: 99;

    text-align: left;
}
#music-button-wrapper img:hover {
    filter: invert(75%);
}
#music-button-wrapper img:active {
    filter: invert(100%) brightness(50%);
}

#banners-wrapper
{
    width: 33%;
    height: 45px;

    position: sticky;
    margin-left: auto;
    margin-right: 2rem;
    right: 0;

    overflow: auto;
    scrollbar-color: #FAFA33 #00FF4e80;
    scrollbar-width: thin;

    text-align: center;
}
#banners-wrapper::-webkit-scrollbar
{
    width: 8px;
}
#banners-wrapper::-webkit-scrollbar-track
{
    background: #00FF4e80;
}
#banners-wrapper::-webkit-scrollbar-thumb
{
    background: #FAFA33;
}

#banner
{
    padding-left: 12px;
    margin-left: auto;
    margin-right: auto;
}

/* Mobile */
@media only screen and (max-width: 640px)
{
    footer
    {
        position: relative;
        bottom: 0;
    }

    #footer-wrapper
    {
        display: block;
        padding: 0;
        padding-bottom: 0 !important;
    }

    .column
    {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    #nav-wrapper li {
        display: block;
    }
    #nav-wrapper a
    {
        font-size: medium;
    }

    .center
    {
        position: relative;
        margin: auto;
        text-align: center;
    }
    #headsmash
    {
        display: none;
    }

    #music-button-wrapper 
    {
        width: 100%;
        height: 100%;

        position: relative;
        margin: auto;
        text-align: center;
    }

    #banners-wrapper
    {
        width: 100%;

        position: relative;
        margin: auto;
        text-align: center;
    }
}

/* Misc */
#fourofour-container
{
    display: flex;
    align-items: center;

    width: 100vw;
    height: 100vh;
    
    overflow: hidden;
    box-sizing: content-box !important;
    
    background-image: url("/assets/img/swirl-bg.gif");
}

#fourofour-text
{    
    margin: auto;

    font-size: 500%;

    font-family: "Comic Sans MS";

    color: #FFFFFF;
    text-shadow: 5px 5px #000000;
    text-align: center;
}
